<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433456593192-fdganiopdo5v9la3bv3cl6rc06qj0f4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433456593192-fdganiopdo5v9la3bv3cl6rc06qj0f4v</string>
	<key>API_KEY</key>
	<string>AIzaSyAE4Z4Ib9Bo8Lsm3BkO27DR0GuAJNk0ZoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>433456593192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.nytimesbooksapp</string>
	<key>PROJECT_ID</key>
	<string>api-project-433456593192</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-433456593192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433456593192:ios:2f4248326aca9a2381f81d</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-433456593192.firebaseio.com</string>
</dict>
</plist>